<div class="container">
    <div class="col my-4">
        <h2>Step 1 - FTC Checkout - Review Your Cart Items</h2>
        <div class="my-4">
            <ul class="list-group" id="items">
            </ul>

            <nav aria-label="breadcrumb">
                <ol class="breadcrumb mt-3">
                    <li class="breadcrumb-item active" aria-current="page">Your Cart Total Is <b>Rs. <span
                            id="totalPrice"></span></b>. Enter your details below & place your order. Thanks for using
                        My Awesome Cart!
                    </li>
                </ol>
            </nav>


        </div>
    </div>
    <div class="col my-4">
        <h2>Step 2 - Enter Address & Other Details:</h2>

    </div>
</div>


<script>

</script>