<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width-device-width ,initial-scale=1.0"/>
    {% block p_title %} <title> Password Reset</title>{% endblock %}

    <link rel="stylesheet" type="text/css"
          href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
</head>
<body>
{% block p_body %}
<div class="card" style="height: 50vh;width:70vw;position: relative; transform: translate(20%, 50%);overflow: scroll ">
    <div class="container card-content ">
        <h3>Password reset</h3>
        <p>
            Forgotten your password? Enter your email address below, and we'll email instructions for setting a new one.
        </p>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="btn " type="submit">Reset password</button>
        </form>
    </div>
</div>
{% endblock %}

</body>
</html>