{% extends 'home/password_reset.html' %}
{% block  p_title %}{% endblock %}

{% block p_body %}
<div class="card" style="height: 50vh;width:70vw;position: relative; transform: translate(20%, 50%);overflow: scroll ">
    <div class="container card-content ">
        <h3>Enter new password</h3>
        <p>

        </p>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="btn" type="submit">Reset password</button>
        </form>
    </div>
</div>{% endblock %}