{% extends  'home/header.html'    %}
{% block title %}<title> PROFILE</title>{% endblock %}
{% block s %} {% endblock  %}
{% block m %}
<li><a href="{% url 'quiz' %}">Quizes</a></li>  {% endblock  %}
{% block n %}
<li><a href="{% url 'progress' %}">My Progress</a></li> {% endblock  %}

{% block c %}{% endblock  %}
{% block cn %}{% endblock  %}
{% block i %} {% endblock %}
{% block l %}  {% endblock %}
{% block f %} {% endblock %}
{% block prof %}{% endblock %}


{% block sm %} {% endblock  %}
{% block mm %}{% endblock  %}
{% block nm %}{% endblock  %}
{% block cm %}{% endblock  %}
{% block cnm %}{% endblock  %}
{% block im %}{% endblock  %}
{% block lm %}{% endblock %}
{% block pdfm %}
<li><a href="{% url 'progress' %}" class="follow box" id="progress"><i class="material-icons">star</i>Achievements</a>
</li> {% endblock %}
{% block onlinem %}
<li><a href="" id="profile_details"><i class="material-icons">details</i>Details</a></li> {% endblock %}
{% block profm %} {% endblock %}


{% block  fm %}
<li><a href="" id="edit" class="info box"><i class="material-icons">create</i>Edit Info</a></li>  {% endblock %}


{% block body %}
<style>
    @import url(https://fonts.googleapis.com/css?family=Roboto:300,400,600);

    body {
        background-color: #474e5d;
        margin-top: 0;

    }


    .snip1336 {
        font-family: 'Roboto', Arial, sans-serif;
        position: relative;
        overflow: hidden;
        margin: 10px;
        min-height: 550px;
        color: #ffffff;
        text-align: left;
        line-height: 1.4em;
        background-color: #141414;
    }

    .snip1336 * {
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        -webkit-transition: all 0.25s ease;
        transition: all 0.25s ease;
    }

    .snip1336 img {
        max-width: 100%;
        vertical-align: top;
        opacity: 0.85;
    }

    .snip1336 figcaption {
        width: 100%;
        background-color: #141414;
        padding: 25px;
        position: relative;
    }

    .snip1336 figcaption:before {
        position: absolute;
        content: '';
        bottom: 100%;
        left: 0;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 55px 0 0 400px;
        border-color: transparent transparent transparent #141414;
    }

    .snip1336 figcaption .box {
        padding: 5px;
        border: 1px solid #ffffff;
        color: #ffffff;
        font-size: 0.7em;
        text-transform: uppercase;
        margin: 10px 0;
        display: inline-block;
        opacity: 0.65;
        width: 47%;
        text-align: center;
        text-decoration: none;
        font-weight: 600;
        letter-spacing: 1px;
    }


    .snip1336 .profile {
        border-radius: 50%;
        position: absolute;
        bottom: 100%;
        left: 25px;
        z-index: 1;
        max-width: 90px;
        opacity: 1;
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    }

    .snip1336 #progress {
        margin-right: 4%;
        border-color: #2980b9;
        color: #2980b9;
        opacity: 1;
    }

    a:hover {
        opacity: 0.4 !important;
    }

    .snip1336 h2 {
        margin: 0 0 5px;
        font-weight: 300;
    }

    .snip1336 h2 span {
        display: block;
        font-size: 0.5em;
        color: #2980b9;
    }

    .snip1336 p {
        margin: 0 0 10px;
        font-size: 0.8em;
        letter-spacing: 1px;
        opacity: 0.8;
    }

    .hidden, .mylinks {
        display: none;
    }

    .errorlist {
        color: #ff0000;
    }

</style>

<div style="height:63px; " class="black"></div>

<section class="mysection">
    <div class="row">

        <div class="col s12 m5 l3" id="myprofile">
            <figure class="snip1336 z-depth-5 ">
                {% load static %}<img src="{% static 'home/images/profilebackgroung.jpg' %}">
                <figcaption>
                    {% if user.userprofile.image %}
                    <img src="{{ user.userprofile.image.url }}"
                         class="profile"/>
                    {% endif %}
                    <h2>{{ user.first_name }} {{ user.last_name }}<span><a href=""
                                                                           id="profile_details">{{ user }}</a></span>
                    </h2>
                    <p>{{user.userprofile.description }}</p>
                    <a href="{% url 'progress' %}" class="follow box" id="progress">Achievements</a>
                    <a href="" id="edit" class="info box">Edit Info</a>
                </figcaption>
            </figure>
        </div>
        <div>
            <div class="container col s12 m7 l9 ">
                <div class="card">
                    <div class="card-content" style="overflow: scroll ;height:550px ;">
                        <div>
                            <div id="profile_info" style="font-family: 'Charmonman';font-size: 22px;">
                                <h3>Profile Details</h3>
                                <p><span style="font-weight: bolder">Username: </span>{{ user }}</p>
                                <p><span style="font-weight: bolder">First name: </span>{{ user.first_name }}</p>
                                <p><span style="font-weight: bolder">Last name: </span>{{ user.last_name }}</p>
                                <p><span style="font-weight: bolder">Email: </span>{{ user.email }}</p>
                                <p><span style="font-weight: bolder">Description: </span>{{
                                    user.userprofile.description}}</p>
                                <p><span style="font-weight: bolder">Phone:</span> {{ user.userprofile.phone }}</p>
                                <p><span style="font-weight: bolder">Address: </span>{{ user.userprofile.address }}</p>
                                <p><span style="font-weight: bolder">Education: </span>{{ user.userprofile.education }}
                                </p>
                            </div>


                            <div class="hidden " id="profile_edit">
                                <h2 class="flow-text">Update Your Information</h2>
                                <form action="" method="POST" class="padding" enctype="multipart/form-data"
                                      id="profile_form">
                                    {% csrf_token %} {{ noodle_form.as_p }}

                                    {{ formset.management_form }}
                                    {{ formset.as_p }}
                                    <button type="submit" class="btn-floating btn-large waves-light waves-effect "
                                            id="profile_updated">
                                        <i class="large material-icons" name="submit">done</i></button>
                                    <a class="btn-floating waves-effect waves-light red" id="cancel"><i
                                            class="material-icons">history</i></a>
                                </form>
                            </div>


                            <div class="hidden" id="profile_progress">
                                {% if achievements %}
                                {% load quiz_tags %}
                                {% get_percent achievements.no_of_exams_passed achievements.no_of_exams_appeared as
                                result_exam %}

                                <h2>Exam Papers</h2>
                                <p>No of Exams Appeared:{{achievements.no_of_exams_appeared}}</p>
                                <p>No of Exams Passed:{{achievements.no_of_exams_passed}}</p>
                                <h5>Success Rate</h5>
                                <h5>{{result_exam}}%</h5>

                                <div class="progress" style="height:10px">
                                    <div class="determinate" style="width: {{result_exam}}%"></div>
                                </div>


                                {% get_percent achievements.no_of_practice_paper_passed
                                achievements.no_of_practice_paper_appeared as result_practice %}
                                <h2>Practice Papers</h2>
                                <p>No of Practice Paper Appeared:{{achievements.no_of_practice_paper_appeared}}</p>
                                <p>No of Practice Paper Passed:{{achievements.no_of_practice_paper_passed}}</p>
                                <h5>Success Rate</h5>
                                <h5>{{result_practice}}%</h5>

                                <div class="progress" style="height:10px">
                                    <div class="determinate" style="width:{{result_practice}}%"></div>
                                </div>
                                {% else %}
                                <h3>No Achievements yet..</h3>
                                <p>Check out quizes and let us add that in your achievements...</p>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div style="height:30px"></div>

{% endblock %}
{% block footer %}
<div class="foote-copyright">
    <div class="center-align grey darken-4" style="position:fixed;bottom: 0px;width: 100%;">&copy; 2020 F.T.C. | website
        by CrazyIITians
    </div>
</div>

</div>
{% if formset.errors %}
<script>
    $(document).ready(function () {
        $('#profile_progress').addClass("hidden");
        $('#profile_info').addClass("hidden");
        $('#profile_edit').removeClass("hidden");
        scrollme();
        alert("Please,Correct the forms")

    })


</script>
{% endif %}

<script>


    history.pushState("", document.title, window.location.pathname
        + window.location.search);


    $(window).on("hashchange", function () {
        if (window.location.hash == "#my_achievements") {

            $('#profile_progress').removeClass("hidden");
            $('#profile_info').addClass("hidden");
            $('#profile_edit').addClass("hidden");
            scrollme();


        } else if (window.location.hash == "#edit_profile") {

            $('#profile_progress').addClass("hidden");
            $('#profile_info').addClass("hidden");
            $('#profile_edit').removeClass("hidden");
            scrollme();


        } else {
            $('#profile_info').removeClass("hidden");
            $('#profile_progress').addClass("hidden");
            $('#profile_edit').addClass("hidden");
        }

    });


    $(document).on('click', '#profile_details', function (e) {
        e.preventDefault();
        scrollme();
        if (window.location.hash) {
            history.pushState("", document.title, window.location.pathname
                + window.location.search);

            $(window).trigger('hashchange');
        }

    });
    $(document).on('click', '#progress', function (e) {
        e.preventDefault();
        if (window.location.hash == "#my_achievements") {
            scrollme();
        }
        window.location.hash = "#my_achievements";


    });
    $(document).on('click', '#edit', function (e) {
        e.preventDefault();
        if (window.location.hash == "#edit_profile") {
            scrollme();
        }
        window.location.hash = "edit_profile";


    });


    $(document).on('click', '#cancel', function (e) {
        window.history.back();
    });

    function scrollme() {
        if ($(window).width() <= 627) {
            $("html, body").animate({scrollTop: $(document).height()}, 1000);
        }

    }

</script>
{% endblock %}