<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css"
          href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
</head>
<body>


<div class="card" style="height: 50vh;width:50vw;position: relative; transform: translate(50%, 50%)">
    <div class="container card-content ">
        <h3>Sorry...</h3>
        <p>
            Only one attempt is allowed at this paper and you have already attempted !
        </p>
            <br>
        <p style="font-weight: bold">Check out Other Quizes...</p>


        <br>

        <a href="{% url 'quiz' %}" class="btn">QUIZES</a>

    </div>
</div>


</div>

</body>
</html>